:root {

    --color-white: #fff;

    --primary-color: #D3F3FC;
    
    --title-color: #665c5c;

    --background-footer-color: #323333;
    /* --primary-color: #F81A2C;
    --dark-color: #0F1112;
    --darkest-color: #070707;
    --light-grey: #EEEEEE;
    --dark-grey: #EEEEEE; */
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

.content {
    width: 960px;
    max-width: 1280px;
    margin: 0 auto;
}

.profile {
    width: 190px;
    height: 240px;
    margin: 0 auto;
    padding-top: 32px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about-me {
    color: var(--title-color);
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-top: 24px;
}

.description {
    font-size: 20px;
    margin: 0 auto;
    width: 586px;
    border-left: 3px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

.card-title {
    color: var(--title-color);
    padding: 24px;
    font-size: 35px;
    width: 180px;
    margin: 0 auto;
}

.card-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 275px;
    height: 400px;
    transition: all 0.3s ease-out;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card p {
    color: var(--title-color);
    font-size: 16px;
}

.blue {
    border-left: 3px solid #4895ff;
}

.green {
    border-left: 3px solid #3bb54a;
}

.red {
    border-left: 3px solid #b3404a;
}

.image {
    float: right;
    max-width: 64px;
    max-height: 64px;
}

.footer {
    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
    font-weight: 400;
    font-size: 16px;
    display: grid;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 150px;
    color: var(--color-white);
    background-color: var(--background-footer-color);
}

.footer-name {
    padding-top: 8px;
    height: 25px;
}

.perfil-icons {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 150px;
}

.img {
    width: 45px;
    height: 40px;
    margin-left: 8px;
}

.owner {
    opacity: .2;
    font-size: 14px;
}